<header [ngClass]="{ 'has-items': inputListItems.length }">
  @if (inputListItems.length) {
  <h1>Minha lista</h1>
  }
  <div>
    <label class="input-label-text" for="inputValue">
      <input
        type="text"
        placeholder="Adicione um novo item"
        id="inputValue"
        autofocus
        #inputText
        (keyup.enter)="focusAndAddItem(inputText.value)"
        [ngClass]="{ 'remove-margin-bottom': inputListItems.length }"
      />

      <button
        class="btn btn-primary-circle"
        title="Adicionar um novo item"
        (click)="focusAndAddItem(inputText.value)"
      ></button>
    </label>
  </div>
</header>
